.hamburger {
  padding: 0;
}

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: var(--font-color);
}

.hamburger.is-active {

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: var(--font-color);
  }
}

.toggle-menu{
  @include from(l){
    display: none;
  }
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  height: 1px;
}
