.main-footer{
  display: flex;
  flex-direction: column;
  padding: .75rem var(--padding);
  @include from(m){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--padding);
  }
}
.footer-menu{
  display: grid;
  grid-template-columns: repeat(3,auto);
  row-gap: .5em;
  li{
    text-align: center;
    &:nth-child(4){
      transform: translate(50%);
    }
    &:nth-child(5){
      transform: translate(80%);
    }
  }
  @include from(m){

    display: flex;
    column-gap: 1em;
    li{
      transform: unset !important;
    }
  }
  @include from(l){
    font-size: get-vw(20px);
  }
}
.social-netwoks{
  --size: 1.5rem;
  display: flex;
  width: calc(var(--size) * 3);
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto 0;
  @include from(m){
    --size:1.5rem;
    margin: 0;
  }

  a{
    display: block;
    height: var(--size);
    width: var(--size);
  }

}
