.main-nav {
  position: absolute;
  font-family: var(--crimson);
  height: 100vh;
  width: 100%;
  background-color: var(--menu-bg);
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--crimson);
  font-weight: 500;
  font-size: 2em;
  // padding-top: var(--header-height);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  @include from(m) {
    font-size: 3em;
  }

  @include from(lg) {
    font-size: get-vw(60px);
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.menu-social {
  --size: .75em;

  @include from(lg) {
    --size: 2.5rem;
  }

  height: var(--size);
  width: calc(var(--size) * 3);
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10%;
  bottom: 1em;

  a {
    height: var(--size);
    width: var(--size);
    display: block;
  }
}
