.page-home header {
  position: relative;
}
// body:not(.page-home) header{
//   position:  absolute !important;
//   background-color: lightblue;
//   .Origin, .Origin *{
//     overflow: hidden !important;
//   }
// }
// .main-nav{
//   display: none !important;
// }
body:not(.page-home) {

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: #fff;
  }

  .hamburger.is-active {

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: #fff;
    }
  }

  header::after {
    background-color: rgba(#fff, .3);
  }
}

body:not(.page-home) nav {

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: var(--font-color);
    ;
  }

  .hamburger.is-active {

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      background-color: var(--font-color);
      ;
    }
  }

  header::after {
    background-color: rgba(#fff, .3);
  }
}

.page {
  body.page-home & {
    padding-top: 3rem;
  }

  h1 {
    font-size: 1.8em;
    margin-bottom: .5rem;
  }

  h3 {
    margin-bottom: 2rem;
    // background: lime;
  }

  p.distinctive-history__text {
    // background-color: lime;
    text-align: center;
    font-family: var(--crimson);
    font-size: .7em;
    // letter-spacing: 2px;
    // font-weight: 300;
  }

  .button-like {
    font-family: var(--comisioner);
    display: table;
    text-align: center;
    margin: 0 auto;
    // background-color: lime;
    font-size: .45em;
    line-height: 2em;
    padding: 0 1em;
    margin-bottom: 2rem;
    margin-top: 1.3em;
    border-bottom: none;
    border: 1px solid rgba(#000,.3);
    border-radius: .8rem;
    letter-spacing: 2px
  }

  .Selection img {
    margin-top: 2em;
    width: 60%;
  }

  // .Selection {
  //   background-color: lightblue;
  // }
}

.distinctive-history {
  padding-top: 4.6em;
  padding-left: var(--padding);
  padding-right: var(--padding);
  position: relative;
  &::before{
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    height: 1px;
    background-color: rgba(#000, .3);
    left: 50%;
    top: 1.25em;
    transform: translateX(-50%);
  }

  p {
    font-family: var(--crimson) !important;
    font-size: 18px !important;
    letter-spacing: normal;
    margin-bottom: 4em;
  }

  img {
    width: 15%;
    margin: 0 auto 1em;
  }
}

.distinctive-history {
  margin-bottom: 3em;
}

.distinctive-history__text {
  margin-bottom: 2em;
}
.Home-item{
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  // margin-bottom: 40em !important;
  &__signature{
    width: 40% !important;
    margin-top: 1em !important;
  }
}
.Home .banner{
  margin-top: -3em !important;
}
.sligan{
  font-family: var(--comisioner);
  letter-spacing: 2px;
  font-size: .6em;
}
.Home-item__grid {
  margin-bottom: 3em;
  position: relative;
  &::before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(#000, .3);
      left: 50%;
      bottom: -.3em;
      transform: translateX(-50%) translateY(2px);
    }
    &:last-child::before{
      display: none;
      margin-bottom: 0 !important;
    }
  img {
    width: 60%;
  }

  h2 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-size: 22px !important;
  }

  p {
    font-family: var(--comisioner) !important;
    font-size: 14px !important;
    font-weight: 300;
    // padding: 0 1em;
  }

  .btn-read {
    // margin: 0 auto !important;
    margin-left: auto !important;
    margin-right: .5em;
    margin-top: 2em;
    margin-bottom: 2rem !important;
    display: table;
    font-family: var(--chivo) !important;
    letter-spacing: 2px;
    font-size: 10px;
    text-decoration: underline;
  }
}

.Home__bottom {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 var(--padding);

  img {
    margin: 0 auto 2rem;
    width: 20%;
  }
  >  p{
    padding: 0 1em;
    text-align: center;
      font-family: var(--crimson);
      font-size: 18px;
      // letter-spacing: 1px;
      // font-weight: 300;
  }
}

.Agave-float {
  display: none;
}

.col-left.img-container-color {
  background-color: #726d65;
  padding-top: calc(var(--header-height) + 2rem);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  color: #fff;

  &.olive {
    background-color: #707064;
  }

  &.brown {
    background-color: #a39384;
  }

  img {
    // opacity: .3;
    width: 60% !important;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  a {
    display: block;
    text-decoration: underline;
    text-align: center;
  }
}

.col-right {
  h2 {
    margin-bottom: 1em !important;
    font-size: 1.5em;
    padding: 0 2em;
  }

  p {
    padding: 0 var(--padding);
  }

  margin-bottom: 2rem;
}

.Tequilas {
  padding: 0 var(--padding);
  margin-bottom: 3em;

  h2 {
    margin-bottom: 1em !important;
    font-size: 1.5em;
    padding: 0 2em;
  }

  img {
    width: 40%;
    margin-bottom: .2em;
  }
}

.tequila-data {
  // margin-top: 2em;
  // background-color: lightblue;
  h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
    // background-color: lightcoral;
  }
  > p{
    margin-top: -.3em;
    // background-color: lime;
    transform: translateY(-1px);
  }
}
.Tequila__vol{
  // background-color: lightgreen;
  // margin-top: -2em !important;
}

.tequia-description {
  // background-color: lightcoral;
  margin-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  // transform: translateY(-5EMS);

  p {
    margin-bottom: 0;
    font-family: var(--comisioner) !important;
    line-height: 1.2;
    font-size: 14px;
    &:first-child{
      // background-color: red;
      line-height: 1.2 !important;
      margin-bottom: .2em;
    }
  }

  span {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.tequila-item {
  margin-bottom: 4em;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: rgba(#000, .3);
    bottom: -2.1em;
    left: 50%;
    transform: translateX(-50%);
  }
}

.Production {
  padding: 1em var(--padding) 0;

  img {
    width: 15%;
    margin-bottom: 1em;
  }
  p{
    margin-bottom: 2em;
  }
}


.page.History {
  margin-bottom: -5em !important;
  .banner{
    padding-top: 4em !important;
    margin-bottom: 3em !important;
    padding-bottom: 4em;
    // opacity: .3;
  }
}

.Process {
  h1 {
    padding: var(--padding);
  }

  &__copy {
    margin: 2em 0;
    padding: 0 var(--padding);

    img {
      width: 30%;
      margin-bottom: 1em;
    }
  }
}
.Process__desciption{
  line-height: 1.1;
}
.Process .banner-sec{
  margin-top: 3em;
}
.Process__process {
  img {
    width: 40%;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.3em;
    margin-bottom: 1rem;
  }

  &-item {
    margin-bottom: 2em;
  }
}

.Process {
  margin-bottom: 3em;
}
.Process__copy {
  img{
    margin-top: 3em;
  // margin-bottom: 1em !important;
  }
}
.WhereToBuy {
  h2 {
    // padding: var(--padding);
    font-size: 2em;
  }

  &__copy {
    margin-top: 2em;
    margin-bottom: 6.5rem;
    padding: 0 var(--padding);
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: rgba(#000, .3);
        bottom: -3em;
        left: 50%;
        transform: translateX(-50%);
      }
    img {
      width: 15%;
      margin-bottom: 1em;
      margin-top: 3em;
    }
    p{
      font-size: 17px !important;
    }
  }

  &__find {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
  }
}
.Process__process-item{
  &:first-child{
    // background-color: aqua;
    margin-top: 4em;
  }
  margin-bottom: 0em;
  padding: 3em 2em;
  position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 80%;
      height: 1px;
      background-color: rgba(#000, .3);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      font-family: var(--comisioner);
      font-size: 14px;
    }
}

.Tour {

  h2,
  h1 {
    padding: var(--padding);
    font-size: 2em;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 0rem !important;
  }
}

.Tour__production {

  img {
    margin-bottom: 2em;
  }

  p {
    padding: 0 var(--padding);
  }
}

.Book {
  --lh: 3em;
  margin-top: 2rem;
  padding: 0 var(--padding);

  p {
    font-size: 1.2em;
  }

  text-transform: uppercase;

  form {
    font-family: var(--comisioner);
    margin-bottom: 2rem;
  }

  input {
    border: none;
    border-bottom: 1px solid rgba(#000, .3);
    background-color: transparent;
    line-height: --lh;
    font-family: inherit;
  }

  &__form-group {
    margin-bottom: 1em;
  }

  textarea {
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(#000, .3);
    background-color: transparent;
    resize: none;
    height: calc(var(--lh) * 3 + 3px);
    line-height: calc(var(--lh) + 10px);
    // background-color: red;
    &::first-line{
      line-height: 1;
    }
  }

  &__texarea {
    position: relative;
    // background-color: lime;
    label{
      margin-bottom: 0 !important;
    }
    // background-color: lightcyan;
    &::after {
      content: '';
      position: absolute;
      display: block;
      color: '';
      width: 100%;
      height: 1px;
      background-color: rgba(#000, .3);
      top:2.5em;
      box-shadow: 0 calc(var(--lh) - 2px) rgba(#000, .3);
    }
  }

  label {
    letter-spacing: 3px;
    font-size: 13px !important;
  }

  button {
    margin-top: 2em;
    line-height: 1em;
    font-weight: 500;
    border: none;
    padding: 0;
    font-family: inherit;
    letter-spacing: 3px;
    font-size: 16px;
    background-color: transparent;
  }

  img {
    width: 30%;
    margin-bottom: 2em;
  }
}
// .main-header {
//   // position: fixed !important;
// }
.Origin{
  margin-bottom: 6em;
  position: relative;
  &::after {
      content: '';
      position: absolute;
      display: block;
      color: '';
      width: 80%;
      height: 1px;
      background-color: rgba(#000, .3);
      left: 50%;
      bottom: -3rem;
      transform: translateX(-50%);
      box-shadow: 0 calc(var(--lh) - 2px) rgba(#000, .3);
    }
}
.Origin .col-left{
  padding-bottom: 2em;
  margin-bottom: 5em;
  p, a{
    font-family: var(--comisioner);
    font-size: .8em !important;
    padding: 0 1em;
  }
  a{
    text-align: right;
    margin-right: .5em;
    letter-spacing: 2px;
    font-family: var(--chivo);
    font-size: .6em !important;
    margin-top: 4em;

  }
}
.Book {
  background-color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.disclaimer {
  padding: 3em var(--padding) 0;
  margin-bottom: 2em;
  font-family: var(--comisioner);
}

.prod {
  h2{
    padding-top: 0 !important;
  }
  margin-bottom: 4rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 80%;
    bottom: -2em;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(#000, .3);
    // background-color: red;
  }
}
.footer-menu{
  display: none;
}
.main-footer .social-netwoks{
  // background-color: #707064;
  margin: 1rem 0 0 auto !important;
  transform: translateX(-1em) translateY(-100%);
}
.main-footer a {
  font-family: var(--comisioner);
}

.Contact {
  h2 {
    font-size: 2em;
    margin-bottom: rem;
  }

  .Book__grid {
    margin-top: 2rem;

    p {
      font-size: 1rem;
      // background-color: lime;
      margin-bottom: 1.5em;
    }
  }

  .map {
    height: 300px;
    position: relative;
    margin-bottom: 3em;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

img {
  margin: 0 auto;
}
.menu-social{
  transform: translateY(-500%);
}
.main-menu{
  transform: translateY(-5%);
}
.hamburger{
  transform-origin: center;
  transform: translateY(20%) scale(.8);
}
.main-nav .hamburger{
  transform: translateY(10%) scale(.8);
}
.page-home .page, .page-home .WhereToBuy .WhereToBuy__top{
  padding-top: 0 !important;
  // background-color: lime;
  > h1, > h2{
    // background-color: lime !important;
    padding: 3rem var(--padding) 2rem !important;
  }
}
.page-home .Home{
  h1{
    // background-color: lime;
    padding: 3rem var(--padding) 0rem !important;
  }
}
.WhereToBuy p{
  font-size: 17px !important;
}
.col-left{
  margin-bottom: 2em !important;
}
.Book{
  margin-top: 4em !important;
  padding-top: 4em !important;
  padding-left: 2em;
  padding-right: 2em;
  p{
    margin-bottom: 3em;
    font-size: 1em !important;
  }
  p, label{
    letter-spacing: 2px;
    font-family: var(--comisioner) !important;
  }
  label{
    margin-bottom: 31m;
  }
}
.Book__img-cont{
  background-color: var(--body-bg);
  position: absolute;
  width: 100%;
  left: 0;
}
.Book{
  position: relative;
  height: 850px;
  img{
    margin-top: 3em;
    width: 15%;
  }
  button{
    // background-color: lime;
    font-size: 13px;
  }
}

.disclaimer{
  padding-top: 2em !important;
  font-size: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  transform: translateY(-20%);
}
.Contact{
  h2{
    margin-top: 2em;
  }
  .Book{
    padding-left: 0;
    padding-right: 0;

  }
  .Book__grid{
    background: #fff;
    padding-top: 3em;
  }
}
.Book.Contact__form{
  padding-top: 0 !important;
  background-color: transparent;
  h2{
    margin-top: 0;
    padding-top: 0;
  }
}
.Book__grid{
  padding-left: 2em;
  padding-right: 2em;
  p{
    font-size: 13px !important;
    text-align: left !important;
    margin-bottom: 3em !important;
  }
}
.page.History .col-right{
  h2{
    // background-color: lime;
    padding: 2rem 1rem .3rem;
    font-size: 2rem;
  }
}
.Tequilas{
  h2{
    font-size: 2rem;
  }
}

html, body, main, #root{
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  height: auto !important;
  min-height: unset !important;
}

// .html,
// body,
// main,
// #root
// {
//   min-height: 100vh;
// }
.main-header{
  // display: none;
}
// *, *::before, *::after{
//   overflow-y: hidden !important ;
// }
html,
main, #root {
  // overflow-y: hidden !important;
}
body{
  overflow-y: scroll !important;
}
.main-header{
  // justify-content: flex-start;
  max-width: 100vw !important;
}
.hamburger.scroll{
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: var(--font-color) !important;
}
}
.main-header {
  position: fixed !important;
  width: 100vw;
  top: 0;
  left: 0;
  transition: unset !important;
}
.header-background {
  background-color: var(--body-bg);
  &::after{
    background-color: rgba(#000,.3) !important;
  }
}
.page-home {
  padding-top: calc(var(--header-height) + 0em);

  header {
    background-color: var(--body-bg);
    justify-content: flex-start;
    // background-color: lime;
    max-width: 100vw !important;

    .hamburger {
      margin-left: auto;
      // background-color: red;
      transform: translateY(0) scale(.8);
    }
  }
}
.book, .Book__grid{
  padding-left: 0  !important;
  padding-right: 0 !important;
}
.Contact form{
  padding-left: 1em !important;
  padding-right: 1em !important;

}
 .Book{
  height: auto !important;
  button {
      transform: translateY(-10em);
    }
  .Book__img-cont{
    position:  relative !important;
    display: none !important;
    img{
      margin: 0 !important;

    }
  }
 }
.disclaimer{

}
